@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    color: white;
    font-size: 20pt;
    font-family: 'Nunito', Arial, sans-serif;
    user-select: none;
    box-sizing: border-box;
}

body, div {
    position: relative;
    display: grid;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

input, button {
    resize: none;
    outline: none;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
}

.generic-button {
    border-radius: 36px;
    border: 4px solid #404040;
    padding: 12px 24px;
    font-size: 20pt;
    transition: background 250ms ease-in-out;

    &:hover {
        cursor: pointer;
    }
}

.main {
    .main-container {
        width: 100%;
        height: 100%;
        background-color: #202020;
        grid-template-rows: 64px 8px auto;

        .header {
            padding: 8px 16px;
            background-color: #363636;
            justify-content: space-between;
            align-items: center;
            grid-template-columns: auto auto;

            .title {
                font-family: 'Open Sans', Arial, sans-serif;
            }

            .user {
                transition: transform 250ms ease-in-out;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.15);
                }
            }
        }

        .header-separator {
            background: linear-gradient(to bottom, #363636 0%, #303030 100%);
        }

        .scroller {
            background-color: #303030;
            overflow-y: auto;

            .main-body {
                grid-template-rows: max-content 8px auto 8px max-content;
                min-height: 100%;
                height: max-content;

                .search-bar-container {
                    justify-self: center;
                    align-self: center;
                    grid-template-rows: max-content max-content 56px;
                    padding: 32px 0;

                    .title {
                        text-align: center;
                        display: block;
                    }

                    .select-search-type {
                        justify-content: center;
                        align-items: center;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: repeat(2, 1fr);
                        column-gap: 16px;
                        row-gap: 0;

                        .cell {
                            justify-content: center;
                            align-items: center;
                            font-size: inherit;

                            & > div {
                                font-size: 0.75rem;

                                &:hover {
                                    cursor: pointer;
                                }
                            }

                            &:nth-child(1) {
                                justify-content: end;
                            }

                            &:nth-child(2) {
                                justify-content: start;
                            }
                        }

                        .arrow-container {
                            margin: auto;
                            grid-row: 2;
                            grid-column: 1 / 3;
                            padding: 3px 3px 0 3px;
                            transform: translate(-36px);
                            transition: transform 250ms ease-in-out;

                            .arrow {
                                border: solid white;
                                border-width: 0 3px 3px 0;
                                padding: 3px;
                                transform: rotate(-135deg);
                            }
                        }
                    }

                    .search-bar {
                        padding: 8px 0 0 0;
                        grid-template-columns: 1fr;

                        .wrapper {
                            background-color: #181818;
                            border-radius: 30px;
                            grid-template-columns: minmax(auto, 1fr) auto;
                            align-items: center;

                            .text {
                                position: absolute;
                                height: 36pt;
                                width: inherit;
                                left: 24px;
                                right: 64px;
                                white-space: nowrap;
                                text-align: left;
                                font-size: 20pt;
                            }
                        }
                    }
                }

                .sb-container-separator {
                    background: linear-gradient(to bottom, #303030 0%, #242424 100%);
                }

                .card-container {
                    background-color: #242424;
                    height: auto;

                    .wrapper {
                        width: inherit;
                        grid-template-columns: repeat(auto-fill, 384px);
                        column-gap: 32px;
                        row-gap: 32px;
                        align-items: center;
                        justify-content: center;
                        padding: 32px 16px;

                        .card {
                            display: flex;
                            flex-flow: column;
                            background-color: #181818;
                            border-radius: 8px;
                            width: 325pt;
                            filter: drop-shadow(0px 0px 15px #000000);
                            perspective: 600px;
    
                            & > div {
                                position: relative;
                                width: 100%;
                                padding-top: 100%; /* Set the padding to create a 1:1 aspect ratio */
                                overflow: hidden;
                            }
    
                            & > div > img {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                transition: transform 250ms ease-in-out;
                                transform: scale(1.05);
                            }
    
                            .content {
                                flex: 0 1 auto;
                                display: flex;
                                flex-flow: column;
                                width: inherit;
                                height: auto;
                                padding: 5pt 20pt 20pt 20pt;
    
                                .title {
                                    flex: 0 0 auto;
                                    padding: 0 0 0 8px;
                                    font-weight: bold;
                                    font-size: 1rem;
                                }
    
                                .text {
                                    flex: 0 0 auto;
                                    padding: 0 0 0 8px;
                                    font-size: 20pt;
                                }
    
                                .address {
                                    font-size: 15pt;
                                    color: #808080;
                                }
    
                                .price {
                                    padding: 5pt 10pt;
                                    border: 2pt solid darkgreen;
                                    background-color: #b4ffbb;
                                    color: #181818;
                                    border-radius: 10pt;
                                    width: max-content;
                                    margin-top: 6pt;
                                }
                            }
    
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }

                .card-container-separator {
                    background: linear-gradient(to bottom, #242424 0%, #181818 100%);
                }

                .footer {
                    background: #181818;
                    height: max-content;
                    padding: 16px;
                }
            }
        }
    }

    .login {
        position: absolute;
        visibility: hidden;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #18181800;
        transition: background 250ms linear;
        justify-items: center;
        align-items: center;
        grid-template-columns: 1fr;

        .main {
            background: #24242400;
            border-radius: 8px;
            padding: 32pt 16pt;
            width: min(540pt, 100%);
            transition: background 250ms ease-in;
            grid-template-rows: repeat(3, max-content);
            grid-template-columns: 1fr;
            grid-row-gap: 32pt;
            align-items: center;
            justify-content: center;

            .title {
                text-align: center;
                font-size: 36pt;
                font-weight: bold;
            }

            .container {
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 1fr;
                align-items: center;
                justify-content: center;
                grid-row-gap: 16px;
                padding: 12pt 48pt;

                .wrapper {
                    background-color: #181818;
                    border-radius: 30px;
                    align-items: center;

                    .text {
                        height: 36pt;
                        margin: 0 24px;
                        white-space: nowrap;
                        text-align: left;
                        font-size: 20pt;
                    }
                }
            }

            .button {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 32pt;
                justify-items: center;
                align-items: center;

                #login-button {
                    border: 4px solid #323232;
                    background: #404040;
                }

                & > button {
                    width: 80%;
                }
            }
        }
    }
}

.shimmer-effect {
    color: white;
    display: inline-block;
    /* adding gradients */
    -webkit-mask: linear-gradient(120deg, #fff 25%, #fff5 50%, #fff 75%) right/500% 100%;
    /* shimmer effect animation */
    animation: shimmer .6s forwards;
    background-repeat: no-repeat;
    width: 500px;
}
@keyframes shimmer {
    100% {
        /* setting up mask position at left side */
        -webkit-mask-position: left
    }
}

.triangle {
    position: absolute;
    width: 0;
    height: 0;
    text-indent: -9999px;
    border-bottom: 30px solid #181818;
    border-left: 325pt solid transparent;
    bottom: 0;
}

.tilt {
    display: block;
    width: max-content;
    background-color: grey;
    margin: 0 auto;
    transition: box-shadow 0.1s, transform 0.1s;
    background-image: url(http://unsplash.it/300/200);
    background-size: 100%;
    background-repeat: no-repeat;
}

.tilt:hover {
    box-shadow: 0px 0px 30px rgba(0,0,0, 0.6);
    cursor: pointer;
}
