@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #727272;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: none;
    -webkit-background-clip: text;
}

.hidden {
    display: none !important;
}

.shimmer-effect {
    --gradient: linear-gradient(120deg, #ffffff 25%, #ffffffdd 50%, #ffffff 75%) right / 500% 100% no-repeat;

    z-index: 1;
    color: white;
    animation: shimmer 500ms forwards;
    mask: var(--gradient);
    -webkit-mask: var(--gradient);
}

.blur {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: #181818a0;
    opacity: 0;
    pointer-events: none;
    transition: all 250ms ease-in-out;
    z-index: 4;
}

@keyframes shimmer {
    100% {
        mask-position: left;
        -webkit-mask-position: left;
    }
}

* {
    box-sizing: border-box;
    font-family: 'Nunito', Verdana, sans-serif;
}

input, button, label, textarea {
    resize: none;
    outline: none;
    border: none;
    user-select: none;
    background: transparent;
    padding: 0;
    margin: 0;
    width: unset;
    height: unset;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background: black;
    display: grid;
    grid-template-rows: min-content auto;
    overflow: hidden;
}

#login {
    --vertical-padding: 32pt;
    position: absolute;
    min-width: 540pt;
    width: min(540pt, calc(100% - var(--vertical-padding) * 2));
    padding: var(--vertical-padding) 16pt;
    background: #242424;
    border-radius: 8px;
    visibility: hidden;
    z-index: 5;
    opacity: 0;
    overflow: hidden;
    align-self: center;
    justify-self: center;
    display: grid;
    transition: all 250ms ease-in-out;

    & > * {
        overflow: hidden;
    }

    & > label  {
        text-align: center;
        color: aliceblue;
        font-size: 36pt;
    }

    & > form {
        padding: 32pt 48pt;
        align-items: center;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-row-gap: 20pt;

        & > label {
            color: aliceblue;
            font-size: 20pt;

            & > i {
                color: aliceblue;
                margin-right: 10pt;
            }
        }

        & > input {
            font-size: 20pt;
            color: aliceblue;
            background: #181818;
            padding: 6pt 18pt;
            border-radius: 64px;
        }
    }

    & > div {
        padding: 12pt 0;
        width: 70%;
        justify-self: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30pt;

        & > button {
            color: aliceblue;
            background: #404040;
            border: 4px solid #404040;
            font-size: 20pt;
            padding: 6pt;
            border-radius: 64px;
            cursor: pointer;

            &:first-child {
                background: transparent;
            }
        }
    }
}

#header {
    background: #363636;
    padding: 10pt;
    font-size: 20pt;
    justify-content: space-between;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;

    & > label {
        color: aliceblue;
        user-select: none;
        font-family: 'Open Sans', Verdana, sans-serif;
    }

    & > i {
        color: aliceblue;
        cursor: pointer;
        transition: font-size 250ms ease-in-out;
    }
}

#scroller {
    box-shadow: 0 2px 4px 4px #303030;
    overflow: hidden auto;
    display: grid;
}

#footer {
    background: #181818;
    box-shadow: 0 2px 4px 4px #181818;
    color: aliceblue;
    font-size: 20pt;
    padding: 10pt;
}
